<div class="container">
<h3 class="text-success">Одежда для собак</h3>
<h4 class="text-success">Индивидуальный пошив по вашим размерам</h4>
<p>Лето в самом разгаре, но мы то с вами знаем, что скоро наступит слякотная осень, а за ней холодная зима.<br>
Пора готовить нашим питомцам одежку.</p>

<p>Какая сама сложная проблема при выборе комбинезона для собак?<br>
Не цена, точно.<br>
Главное, чтобы он идеально сел. Не стеснял движений, не висел как мешок. Закрывал нужное и оставлял открытым необходимое. Да еще ко всему, был бы того цвета, который нравится нам, а не производителю.</p>
<h6 class="text-success">Мы поможем решить эту проблему!</h6>
<p>Мы предлагаем сшить одежду вашим питомцам под заказ.<br>
Исходя из нужных именно вам размеров, породных особенностей, личных пристрастий, и по очень приятным ценам.<br>
Кроме комбинезона также можно заказать жилет, свитер и даже обувь.</p>

<h6 class="text-success">Свяжитесь с нами и мы приоденем вашего питомца.</h6>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="cost-tab" data-toggle="tab" href="#cost" role="tab" aria-controls="cost" aria-selected="true">Цены</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="fiber-tab" data-toggle="tab" href="#fiber" role="tab" aria-controls="fiber" aria-selected="false">Ткань</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="example-tab" data-toggle="tab" href="#example" role="tab" aria-controls="example" aria-selected="false">Примеры</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="cost" role="tabpanel" aria-labelledby="cost-tab">
    <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Длина спины, см</th>
        <th>Антигрязь</th>
        <th>Комбинезон осенний</th>
        <th>Комбинезон зимний</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>16-25</td>
        <td>580</td>
        <td>780</td>
        <td>985</td>
      </tr>
      <tr>
        <td>26-32, такса до 40</td>
        <td>730</td>
        <td>985</td>
        <td>1240</td>
      </tr>
      <tr>
        <td>33-40, мопс, фр.бульдог, такса до 45</td>
        <td>910</td>
        <td>1230</td>
        <td>1550</td>
      </tr>
      <tr>
        <td>41-45</td>
        <td>1110</td>
        <td>1500</td>
        <td>1890</td>
      </tr>
      <tr>
        <td>46-53</td>
        <td>1320</td>
        <td>1780</td>
        <td>2245</td>
      </tr>
      <tr>
        <td>54-61</td>
        <td>1540</td>
        <td>2080</td>
        <td>2620</td>
      </tr>
      <tr>
        <td>62-69</td>
        <td>1770</td>
        <td>2390</td>
        <td>3010</td>
      </tr>
    </tbody>
    </table>
  </div>
  
  <div class="tab-pane fade" id="fiber" role="tabpanel" aria-labelledby="fiber-tab">
    <div class="container">
    <div class="row">

    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "mono_white.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Однотонный белый</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "mono_grey_1.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Однотонный серый 1</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "mono_grey_2.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Однотонный cерый 2</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "mono_blue.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Однотонный синий</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "mono_pink.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Однотонный розовый</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "mono_purple.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Однотонный фиолетовый</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "mask_green.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Камуфляж лес</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "mask_city.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Камуфляж город 1</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "mask_city_matrix.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Камуфляж город 2</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "flowers_flowers.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Цветочный</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "flowers_1.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Узор 1</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "flowers_2.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Узор 2</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "flowers_3.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Узор 3</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "flowers_4.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Узор 4</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "flowers_5.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Узор 5</p>
        </div>
    </div></div>
    
    </div>
    </div>
  </div>
  
  <div class="tab-pane fade" id="example" role="tabpanel" aria-labelledby="example-tab">
    <div class="container">
    <div class="row">
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "jilet.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Жилет</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "winter_comb.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Зимний комбинезон</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "taks.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Комбинезон для таксы</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "boots.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Обувь</p>
        </div>
    </div></div>
    
    <div class="col-md-4"><div class="card m-2" style="width: 18rem;">
        <%= image_tag "sharp.jpg", size: "300x300", class: "card-img-top" %>
        <div class="card-body">
            <p class="card-text">Комбинезон для шар-пея</p>
        </div>
    </div></div>
    
    <div>
    <div>  
  </div>
</div>


<div>